<div class="container">
    <h1>Login</h1>
    <div class="google-btn">
        <a href="/auth/google">
            <button><i class="fab fa-goole left"></i> Login with Google</button>
        </a>
    </div>
</div>